In [5]:
import sys; sys.path.append('..')
symbol = 'BTCUSDT'

In [7]:
import urllib3
from requests.packages.urllib3.exceptions import InsecureRequestWarning

# Suppress only the InsecureRequestWarning from urllib3 needed for older OpenSSL versions
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [8]:
from fetch_data import *

d = fetch_klines(symbol, '1h', '24')
print('amount of klines: ', len(d))
d

amount of klines:  24

[[1705464000000,
  '42849.00000000',
  '42921.10000000',
  '42781.49000000',
  '42854.01000000',
  '791.39640000',
  1705467599999,
  '33911017.90652090',
  32838,
  '411.79546000',
  '17645450.01201050',
  '0'],
 [1705467600000,
  '42854.01000000',
  '42925.49000000',
  '42765.41000000',
  '42783.39000000',
  '661.25196000',
  1705471199999,
  '28333635.53425060',
  30696,
  '324.66714000',
  '13912609.78380640',
  '0'],
 [1705471200000,
  '42783.39000000',
  '42876.34000000',
  '42766.00000000',
  '42806.05000000',
  '802.28142000',
  1705474799999,
  '34360257.69945620',
  28881,
  '425.46410000',
  '18221380.54723370',
  '0'],
 [1705474800000,
  '42806.05000000',
  '42851.10000000',
  '42619.60000000',
  '42655.94000000',
  '1357.30632000',
  1705478399999,
  '58019581.23478440',
  46737,
  '629.23223000',
  '26898591.79560370',
  '0'],
 [1705478400000,
  '42655.95000000',
  '42747.65000000',
  '42564.00000000',
  '42728.76000000',
  '1188.18884000',
  1705481999999,
  '50705137.23679320',
  52602,
  '622.89057000',
  '26580095.06764970',
  '0'],
 [1705482000000,
  '42728.76000000',
  '42830.00000000',
  '42674.00000000',
  '42678.57000000',
  '938.26640000',
  1705485599999,
  '40133807.73662490',
  35711,
  '431.49667000',
  '18457818.75627950',
  '0'],
 [1705485600000,
  '42678.56000000',
  '42850.55000000',
  '42622.36000000',
  '42850.04000000',
  '1193.04037000',
  1705489199999,
  '50992942.63212900',
  45910,
  '595.51275000',
  '25452501.81821170',
  '0'],
 [1705489200000,
  '42850.05000000',
  '42850.55000000',
  '42672.95000000',
  '42680.16000000',
  '1093.25163000',
  1705492799999,
  '46744078.11548180',
  60902,
  '492.04740000',
  '21038913.20205870',
  '0'],
 [1705492800000,
  '42680.16000000',
  '42788.00000000',
  '42411.00000000',
  '42782.43000000',
  '2445.67123000',
  1705496399999,
  '104256628.10493290',
  83991,
  '1171.79997000',
  '49958740.47484460',
  '0'],
 [1705496400000,
  '42782.42000000',
  '42782.43000000',
  '42518.00000000',
  '42609.84000000',
  '1305.63482000',
  1705499999999,
  '55679740.09859380',
  58544,
  '708.53433000',
  '30215473.45019040',
  '0'],
 [1705500000000,
  '42609.83000000',
  '42926.02000000',
  '42365.58000000',
  '42576.01000000',
  '3407.69990000',
  1705503599999,
  '145182249.15456140',
  143369,
  '1756.31620000',
  '74828674.89067620',
  '0'],
 [1705503600000,
  '42576.02000000',
  '42768.00000000',
  '42472.85000000',
  '42482.79000000',
  '2383.89587000',
  1705507199999,
  '101584572.73909360',
  109007,
  '1193.75370000',
  '50873510.81515100',
  '0'],
 [1705507200000,
  '42482.80000000',
  '42564.13000000',
  '42250.31000000',
  '42360.28000000',
  '2301.05574000',
  1705510799999,
  '97587690.12537690',
  89181,
  '1134.23598000',
  '48107147.02589120',
  '0'],
 [1705510800000,
  '42360.29000000',
  '42470.32000000',
  '42200.69000000',
  '42371.10000000',
  '1419.22346000',
  1705514399999,
  '60111435.19266640',
  65104,
  '714.92080000',
  '30282291.56661840',
  '0'],
 [1705514400000,
  '42371.10000000',
  '42612.48000000',
  '42278.98000000',
  '42612.45000000',
  '1471.83973000',
  1705517999999,
  '62478729.35585940',
  62455,
  '791.65412000',
  '33606782.55546300',
  '0'],
 [1705518000000,
  '42612.46000000',
  '42745.99000000',
  '42555.22000000',
  '42611.11000000',
  '1041.37370000',
  1705521599999,
  '44403759.72559780',
  46391,
  '561.39088000',
  '23936980.44875530',
  '0'],
 [1705521600000,
  '42611.10000000',
  '42876.48000000',
  '42559.29000000',
  '42722.90000000',
  '2990.71477000',
  1705525199999,
  '127754991.21500390',
  157049,
  '1657.22368000',
  '70790194.86724700',
  '0'],
 [1705525200000,
  '42722.90000000',
  '42822.96000000',
  '42603.20000000',
  '42676.13000000',
  '1125.24713000',
  1705528799999,
  '48057504.41196020',
  71096,
  '582.76247000',
  '24888733.04315770',
  '0'],
 [1705528800000,
  '42676.14000000',
  '42729.06000000',
  '42450.00000000',
  '42722.14000000',
  '767.12266000',
  1705532399999,
  '32694649.17699290',
  40647,
  '360.12241000',
  '15347668.67116220',
  '0'],
 [1705532400000,
  '42722.13000000',
  '42792.48000000',
  '42619.73000000',
  '42776.10000000',
  '869.79899000',
  1705535999999,
  '37150704.87933870',
  39932,
  '433.63113000',
  '18520565.01990100',
  '0'],
 [1705536000000,
  '42776.09000000',
  '42784.40000000',
  '42617.31000000',
  '42660.79000000',
  '877.07281000',
  1705539599999,
  '37458288.35423040',
  33020,
  '360.42808000',
  '15391793.41537980',
  '0'],
 [1705539600000,
  '42660.79000000',
  '42713.92000000',
  '42502.19000000',
  '42584.62000000',
  '814.27639000',
  1705543199999,
  '34681966.04469250',
  37756,
  '355.65338000',
  '15149034.03072190',
  '0'],
 [1705543200000,
  '42584.61000000',
  '42721.00000000',
  '42584.12000000',
  '42653.82000000',
  '563.69795000',
  1705546799999,
  '24052090.46407590',
  27372,
  '247.02830000',
  '10538215.00373370',
  '0'],
 [1705546800000,
  '42653.81000000',
  '42676.75000000',
  '42550.00000000',
  '42575.99000000',
  '394.94208000',
  1705550399999,
  '16830172.35450360',
  18003,
  '167.28528000',
  '7127630.38838230',
  '0']]

In [9]:
import pandas as pd

data_columns = ['open_time', 'open_price', 'high_price', 
                'low_price', 'close_price', 'volume', 'close_time', 'quote_asset_volume', 
                'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'unused_field']

df = pd.DataFrame(d, columns=data_columns)

df.head()

,open_time,open_price,high_price,low_price,close_price,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,unused_field
0,1705464000000,42849.00000000,42921.10000000,42781.49000000,42854.01000000,791.39640000,1705467599999,33911017.90652090,32838,411.79546000,17645450.01201050,0
1,1705467600000,42854.01000000,42925.49000000,42765.41000000,42783.39000000,661.25196000,1705471199999,28333635.53425060,30696,324.66714000,13912609.78380640,0
2,1705471200000,42783.39000000,42876.34000000,42766.00000000,42806.05000000,802.28142000,1705474799999,34360257.69945620,28881,425.46410000,18221380.54723370,0
3,1705474800000,42806.05000000,42851.10000000,42619.60000000,42655.94000000,1357.30632000,1705478399999,58019581.23478440,46737,629.23223000,26898591.79560370,0
4,1705478400000,42655.95000000,42747.65000000,42564.00000000,42728.76000000,1188.18884000,1705481999999,50705137.23679320,52602,622.89057000,26580095.06764970,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   open_time                     24 non-null     int64
 1   open_price                    24 non-null     object
 2   high_price                    24 non-null     object
 3   low_price                     24 non-null     object
 4   close_price                   24 non-null     object
 5   volume                        24 non-null     object
 6   close_time                    24 non-null     int64
 7   quote_asset_volume            24 non-null     object
 8   number_of_trades              24 non-null     int64
 9   taker_buy_base_asset_volume   24 non-null     object
 10  taker_buy_quote_asset_volume  24 non-null     object
 11  unused_field                  24 non-null     object
dtypes: int64(3), object(9)
memory usage: 2.4+ KB

In [13]:
df.to_csv(f'../outputs/{symbol}_raw.csv', index=False)

,open_time,open_price,high_price,low_price,close_price,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,unused_field
0,1705453200000,43092.00000000,43198.00000000,42960.64000000,42970.00000000,868.43470000,1705456799999,37418991.27920610,36427,422.54689000,18212163.55400480,0
1,1705456800000,42970.01000000,43061.10000000,42918.11000000,42997.25000000,1068.46920000,1705460399999,45946208.58125190,32257,412.77928000,17749442.86659160,0
2,1705460400000,42997.26000000,43025.71000000,42844.98000000,42849.00000000,836.39500000,1705463999999,35920552.26949000,31067,359.71317000,15450074.41629060,0
3,1705464000000,42849.00000000,42921.10000000,42781.49000000,42854.01000000,791.39640000,1705467599999,33911017.90652090,32838,411.79546000,17645450.01201050,0
4,1705467600000,42854.01000000,42925.49000000,42765.41000000,42783.39000000,661.25196000,1705471199999,28333635.53425060,30696,324.66714000,13912609.78380640,0