In [1]:
import sys; sys.path.append('..')
symbol = 'BTCUSDT'

In [33]:
from fetch_data import *

d = fetch_klines(symbol, '1h', '24')
print('amount of klines: ', len(d))
d

amount of klines:  24

[[1707282000000,
  '42929.18000000',
  '43051.10000000',
  '42882.00000000',
  '43029.12000000',
  '625.33484000',
  1707285599999,
  '26875347.95007300',
  33881,
  '306.35453000',
  '13166553.42696270',
  '0'],
 [1707285600000,
  '43029.12000000',
  '43030.61000000',
  '42891.52000000',
  '42961.92000000',
  '565.82276000',
  1707289199999,
  '24298702.71583180',
  26364,
  '228.82819000',
  '9826805.33129350',
  '0'],
 [1707289200000,
  '42961.92000000',
  '43006.00000000',
  '42900.00000000',
  '42918.03000000',
  '552.74195000',
  1707292799999,
  '23739554.12663800',
  26497,
  '231.85978000',
  '9958541.55237510',
  '0'],
 [1707292800000,
  '42918.02000000',
  '42969.08000000',
  '42872.37000000',
  '42942.83000000',
  '496.68460000',
  1707296399999,
  '21323225.36170190',
  26936,
  '218.60364000',
  '9385032.57786930',
  '0'],
 [1707296400000,
  '42942.82000000',
  '43200.00000000',
  '42907.62000000',
  '43146.00000000',
  '953.76251000',
  1707299999999,
  '41092286.56157200',
  49336,
  '483.87542000',
  '20850158.78855140',
  '0'],
 [1707300000000,
  '43146.01000000',
  '43151.10000000',
  '42838.01000000',
  '42897.94000000',
  '1071.70228000',
  1707303599999,
  '46114053.77621070',
  47931,
  '444.34402000',
  '19117820.28665780',
  '0'],
 [1707303600000,
  '42897.94000000',
  '42992.84000000',
  '42870.00000000',
  '42928.29000000',
  '779.26601000',
  1707307199999,
  '33452773.43076870',
  51206,
  '364.74298000',
  '15657393.38206410',
  '0'],
 [1707307200000,
  '42928.28000000',
  '43103.10000000',
  '42890.51000000',
  '43073.28000000',
  '919.57696000',
  1707310799999,
  '39532062.34918360',
  35413,
  '503.99608000',
  '21665722.91426520',
  '0'],
 [1707310800000,
  '43073.29000000',
  '43179.56000000',
  '43038.53000000',
  '43141.98000000',
  '866.26403000',
  1707314399999,
  '37335715.16025120',
  45185,
  '437.48567000',
  '18853832.43270470',
  '0'],
 [1707314400000,
  '43141.97000000',
  '43325.03000000',
  '42941.10000000',
  '43028.60000000',
  '2091.84728000',
  1707317999999,
  '90275782.25206630',
  77438,
  '1102.41377000',
  '47584974.64059130',
  '0'],
 [1707318000000,
  '43028.59000000',
  '43190.43000000',
  '42921.10000000',
  '43071.08000000',
  '1296.95027000',
  1707321599999,
  '55842542.01033110',
  71026,
  '627.47186000',
  '27019948.02399700',
  '0'],
 [1707321600000,
  '43071.08000000',
  '43245.48000000',
  '43013.75000000',
  '43240.71000000',
  '1332.20333000',
  1707325199999,
  '57453408.00486620',
  86904,
  '747.73361000',
  '32250469.64029790',
  '0'],
 [1707325200000,
  '43240.70000000',
  '43710.00000000',
  '43228.00000000',
  '43499.91000000',
  '4634.72100000',
  1707328799999,
  '201519104.79931790',
  169061,
  '2740.24106000',
  '119163725.56980920',
  '0'],
 [1707328800000,
  '43499.91000000',
  '43670.00000000',
  '43460.22000000',
  '43650.96000000',
  '2187.08017000',
  1707332399999,
  '95289465.11181660',
  93087,
  '1117.80739000',
  '48699485.45294930',
  '0'],
 [1707332400000,
  '43650.95000000',
  '43699.98000000',
  '43431.10000000',
  '43615.47000000',
  '1492.80980000',
  1707335999999,
  '65043495.71896850',
  58438,
  '701.62921000',
  '30569292.95414520',
  '0'],
 [1707336000000,
  '43615.47000000',
  '44261.10000000',
  '43615.47000000',
  '44131.37000000',
  '5364.35734000',
  1707339599999,
  '236176633.80555650',
  138020,
  '2893.85159000',
  '127372776.07170230',
  '0'],
 [1707339600000,
  '44131.37000000',
  '44396.50000000',
  '44113.96000000',
  '44185.96000000',
  '2672.37987000',
  1707343199999,
  '118188122.86321090',
  78914,
  '1287.37034000',
  '56937276.37678780',
  '0'],
 [1707343200000,
  '44185.95000000',
  '44344.00000000',
  '44125.88000000',
  '44160.69000000',
  '1224.25664000',
  1707346799999,
  '54150215.96502620',
  42170,
  '611.19543000',
  '27038014.47629370',
  '0'],
 [1707346800000,
  '44160.68000000',
  '44363.80000000',
  '44152.68000000',
  '44349.60000000',
  '1567.38592000',
  1707350399999,
  '69358520.41373340',
  49078,
  '991.48416000',
  '43882003.47721610',
  '0'],
 [1707350400000,
  '44349.60000000',
  '44698.46000000',
  '44331.10000000',
  '44676.01000000',
  '3531.43254000',
  1707353999999,
  '157237652.49816810',
  98515,
  '1992.09659000',
  '88692237.97036620',
  '0'],
 [1707354000000,
  '44676.02000000',
  '44695.47000000',
  '44476.92000000',
  '44654.73000000',
  '1683.51254000',
  1707357599999,
  '75058710.05528700',
  66235,
  '794.35706000',
  '35417405.89235580',
  '0'],
 [1707357600000,
  '44654.73000000',
  '44780.00000000',
  '44536.01000000',
  '44648.32000000',
  '2033.36119000',
  1707361199999,
  '90751234.83578200',
  70941,
  '1032.51776000',
  '46083027.83272880',
  '0'],
 [1707361200000,
  '44648.33000000',
  '44727.42000000',
  '44534.00000000',
  '44540.99000000',
  '1587.88976000',
  1707364799999,
  '70876812.49724550',
  52995,
  '682.50290000',
  '30465715.06814520',
  '0'],
 [1707364800000,
  '44540.98000000',
  '44605.00000000',
  '44509.02000000',
  '44521.84000000',
  '610.13673000',
  1707368399999,
  '27186009.28694670',
  33249,
  '250.43676000',
  '11158925.40611550',
  '0']]

In [34]:
import pandas as pd

data_columns = ['open_time', 'open_price', 'high_price', 
                'low_price', 'close_price', 'volume', 'close_time', 'quote_asset_volume', 
                'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'unused_field']

df = pd.DataFrame(d, columns=data_columns)

In [7]:
df.tail()

,open_time,open_price,high_price,low_price,close_price,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,unused_field
19,1707346800000,44160.68000000,44363.80000000,44152.68000000,44349.60000000,1567.38592000,1707350399999,69358520.41373340,49078,991.48416000,43882003.47721610,0
20,1707350400000,44349.60000000,44698.46000000,44331.10000000,44676.01000000,3531.43254000,1707353999999,157237652.49816810,98515,1992.09659000,88692237.97036620,0
21,1707354000000,44676.02000000,44695.47000000,44476.92000000,44654.73000000,1683.51254000,1707357599999,75058710.05528700,66235,794.35706000,35417405.89235580,0
22,1707357600000,44654.73000000,44780.00000000,44536.01000000,44648.32000000,2033.36119000,1707361199999,90751234.83578200,70941,1032.51776000,46083027.83272880,0
23,1707361200000,44648.33000000,44727.42000000,44588.48000000,44611.29000000,1058.65278000,1707364799999,47282547.33017400,35390,468.42246000,20921940.75448160,0

In [35]:
from utils.pandas_helpers import format_dataframe
df['symbol'] = 'btcusdt'
df_f = format_dataframe(df, time_unit='ms')

In [79]:
df.select_dtypes(include='float64').columns.to_list()

[]

In [36]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   open_time                     24 non-null     datetime64[ns]
 1   open_price                    24 non-null     object
 2   high_price                    24 non-null     object
 3   low_price                     24 non-null     object
 4   close_price                   24 non-null     object
 5   volume                        24 non-null     object
 6   close_time                    24 non-null     datetime64[ns]
 7   quote_asset_volume            24 non-null     object
 8   number_of_trades              24 non-null     int64
 9   taker_buy_base_asset_volume   24 non-null     object
 10  taker_buy_quote_asset_volume  24 non-null     object
 11  unused_field                  24 non-null     object
 12  symbol                        24 non-null     object
dtypes: datetime64[ns](2), int64(1), object(10)
memory usage: 2.6+ KB

In [73]:
threshold = 49000
r = df_f.loc[(df_f['low_price'].astype(float) <= threshold) &  (threshold <= df_f['high_price'].astype(float))]

In [74]:
r.empty

True